{
    "MinRun"                 : 669    ,
    "MaxRun"                 : 100000 ,

    "XMIN"                   : -80 ,
    "XMAX"                   :  80 ,
    "YMIN"                   : -80 ,
    "YMAX"                   :  80 ,
    "ZMIN"                   :   0 ,
    "ZMAX"                   : 300 ,
    "RMAX"                   :  80 ,

    "SensorFile"             : "GaP.sensors_MinRun_rmin_MaxRun_rmax.txt",
    "SensorLabels"           : ["PMT"],

    "PMT_Type"               : "Anode"
}