{
    "MinRun"                  : 0      ,
    "MaxRun"                  : 100000 ,

    "XMIN"                    : -80 ,
    "XMAX"                    :  80 ,
    "YMIN"                    : -80 ,
    "YMAX"                    :  80 ,
    "ZMIN"                    :   0 ,
    "ZMAX"                    : 300 ,
    "RMAX"                    :  80 ,

    "SensorFile"              : "Tst.sensors.txt",
    "SensorLabels"            : ["PMTR11410", "SiPM"],

    "PMTR11410_Type"          : "Cathode",
    "SiPM_Type"               : "Anode",

    "PMTR11410_Centroid"      : 24.75  ,
    "PMTR11410_ErrorCentroid" : 0.27   ,
    "PMTR11410_Sigma"         : 9.15   ,
    "PMTR11410_ErrorSigma"    : 0.35   ,

    "SiPM_Centroid"           : 17.25  ,
    "SiPM_ErrorCentroid"      : 0.018  ,
    "SiPM_Sigma"              : 1.677  ,
    "SiPM_ErrorSigma"         : 0.027  ,

    "SiPM_BaseLine"           : 50     ,
    "SiPM_NoiseDB"            : ["new", 6500]
}